.md-button{
    text-transform: capitalize !important;
}

md-toolbar.left-toolbar{
    background: #000000;
}

md-toolbar.main-toolbar{
    background: #e01d1d;
}

md-icon.app-icons{
    margin: 5px;
}

p#hint-user{
    margin-left: 5%;
    font-size: 85%;
    font-weight: 200%;
    color: #156aebe8;
}

div#app-description{
	margin-top: 60px;
}

div.main-content{
    margin-top: 10px;
    /*margin-left: 10px;*/
}

div#input-group{
	/*margin: 10px;*/
}

p.table-content{
	font-size: 20px;
}

p.table-data{
	margin-left: 20px;
    margin-bottom: 23px;
	font-size: 20px;
}

p.warning{
	color: #ffae00;
}

p.alert{    
	color: #f70000;	
}

p.relax{
	color: #3ce504;
}

h1.service-description{
    color: #32326b;
    font-size: 18px;
}